:root{
	--white: #fff;
	--black: #323232;
	--gray-lighter: #f9f9f9;
}

@import '../../node_modules/normalize.css/normalize.css';

*{
	box-sizing: border-box;
}

html,
body{
	min-height: 100%;
}

body{
	padding: 20px;
}

canvas {
	display: block;
	border: 2px solid var(--black);
}
