<canvas id="world"></canvas>
<p>Particles: <input type="text" id="pcount" readonly/></p>
<ul class="controls">
	<li><label><input type="checkbox" id="pause" /> Pause</label></li>
	<li><label><input type="checkbox" id="inversegravity" /> Inverse Gravity</label></li>
	<li><label><input type="checkbox" id="debug" /> Debug</label></li>
	<li><label><input type="checkbox" id="pauseemitter" /> Pause Emitter</label></li>
	<li>Timecontrol: <input type="range" min="16.1" max="300" step="0.1" value="16.6" id="timewarp"/> <span id='animationFramesPerSecond'></span></li>
	<li>Windstrength: <input type="range" min="-100" max="100" step="1" value="0" id="windstrength"/></li>
	<li><button id="nextTick">Next Tick</button></li>
</ul>
